<!DOCTYPE html>
<html lang="en">
<head>

<title>Ruby Project 2.0</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script type="text/javascript"> $(document).ready(function () { $('.dropdown-toggle').dropdown(); }); </script>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'prototype' %>

<%= csrf_meta_tag %>

</head>
<body>
	<!-- navbar starts here-->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	 	<div class="container-fluid">
	 		<div class="projectName">
				<%= link_to 'Ruby Project', "../static_pages/landing_page" %>
		
				<div class="searchform">
		 			<%= form_tag("/products", method: "get", class: "navbar-form", role: "search") do %>
		 				<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
			 			<div class="form-group">
						 <%= text_field_tag([:q], nil, placeholder: 'Find products here', class: 'input-medium form-control' ) %>
						</div>
					<% end %>
				</div>
		 	</div>
		 	
	 	<div class="navbar-header" style="float:right; margin-top: 1%">
	 		<%= button_tag(type: 'button', class: 'navbar-toggle', data: { toggle: 'collapse', target: '.navbar-collapse' } ) do %>
	 			<%= content_tag :span, 'Toggle navigation', class:'sr-only' %>
	 			<%= content_tag :span, class:'icon-bar' %>
	 			<%= content_tag :span, class:'icon-bar' %>
	 			<%= content_tag :span, class:'icon-bar' %>
	 		<% end %>

		 	<div class="navbar-collapse collapse" style: "float:right">	
			  		<ul class="nav navbar-nav">
			  			<li>
			  				<%= link_to 'Home', '../static_pages/landing_page' %>
			  			</l>
			  			<li>
			  				<%= link_to 'Products', '/products' %>
			  			</li>
			  			<li>
			  				<%= link_to 'About us', '../static_pages/about'%>
			  			</li>
			  			<li>
			  				<%= link_to 'Contact', '../static_pages/contact' %>
			  			</li>
		  				<li class="registration">
		  					<%= render 'devise/menu/login_items' %>
						</li>
						<li>
						  	<%= render 'devise/menu/registration_items' %>
						</li>
				  	</ul>
		 	</div> <!-- end navbar-collapse collapse -->
		</div> <!-- end nav container --> 
  </nav> <!-- end navbar -->
 
<div class="container">
	<div style="text-align: center; font-size: 1.5em;">
		<% if notice %>
  			<div id="notice" class="alert alert-info" style="margin-top:5%;">
  				<%= flash[:notice] %>
  			</div>
  		<% end %>
  		<% if alert %>
	  		<div id="notice" class="alert alert-info" >
	  			<%= alert %>
	  		</div>
 		<% end %></div>
	<div style="margin-top: 7%">
		
		<%= yield %>
	</div>
</div>
<footer>
	<p>&copy; Alex Tracy 2015</p>
</footer>
</body>

</html>
